@import url("https://fonts.googleapis.com/css2?family=Radley:ital@0;1&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

a:link,
a:visited {
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 10vh;
  font-size: 1rem;
  background-color: #800055;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 14px 16px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: center;
  height: 10vh;
  justify-content: space-between;
  background-color: #800055;
  width: 100%;
  font-size: 2rem;
  padding: 14px 16px;
  display: flex;
  margin-bottom: auto;
  color: #fafafa;
}

.footer-group {
  width: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link-group {
  list-style: none;
  display: flex;
}

.link a {
  color: #fafafa;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 30px;
  margin: 0 20px;
  line-height: 80px;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  background: #FFF3FE;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: auto;
}

body {
  width: 100%;
  margin: 20px 0;
  font-family: sans-serif;
  background: #FFF3FE;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-wrap: wrap;
  align-items: space-between;
}

.body-section {
  width: 100%;
  margin: 20px 0;
  font-family: sans-serif;
  background: #FFF3FE;
}

.Michelle-heading {
  text-align: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 100px;
  line-height: 1;
  color: #800055;
}

.Intro {
  color: #333333;
  font-size: 2rem;
  width: 100%;
  padding: 14px 16px;
}

.About-Me {
  width: 100%;
  margin: 20px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: #000000;
  padding: 14px 16px;
}

.M.Project {
  height: 50vh;
  display: flex;
  background-color: #B6819B;
  padding: 14px 16px;
  margin: 20px 0;
}

.projectswork {
  width: 100%;
  display: grid;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: #000000;
  padding: 14px 16px;
  margin: 20px 0;
}